@import "intersection-reference.css";
@import "seasons.css";
@import "scroll.css";
@import "overlay.css";

@font-face {
  font-family: "Roboto Mono";
  src: url("../fonts/RobotoMono-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Comfortaa";
  src: url("../fonts/Comfortaa-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --background: black;
  --foreground: #fafafa;
  --shadow-container: 0 4px 24px rgba(0, 0, 0, 0.75);
  --font-body: "Comfortaa", sans-serif;
  --font-heading: "Roboto Mono", monospace;
  --transparent-white-high: rgba(255, 255, 255, 0.1);
  --transparent-white-medium: rgba(255, 255, 255, 0.25);
  --transparent-white-low: rgba(255, 255, 255, 0.8);
  --radius-1: 20px;
  --scrollable-size-desktop: 500px;
  --scrollable-size-mobile: 300px;
  --mark-position-desktop: 242px;
  --mark-position-mobile: 142px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background);
  font-family: var(--font-body);
  background-size: cover;
  background-position: center;
  transition: background-image 500ms ease;
}

.glass {
  border: 1px solid var(--transparent-white-medium);
  background: var(--transparent-white-high);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: var(--shadow-container);
}

/* HEADER */
header {
  padding: 20px 10px;
  text-transform: capitalize;
  font-family: var(--font-heading);
  color: var(--foreground);
}

header h1 {
  text-align: center;
}

/* MAIN */
main {
  flex: 1;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-weight: bold;
  text-transform: capitalize;
}

/* FOOTER */
footer {
  padding: 20px 10px;
  font-weight: bold;
}

footer .copyright {
  text-align: center;
  color: var(--foreground);
}
